.buttons{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    border : solid 5pt black;
 }
 
 .button{
     border : solid 1pt darkgoldenrod;
     background-color: black;
     color: red;
     font : 30pt arial;
     text-align: center;
     vertical-align: middle;
     line-height: 100px;
 }
 
 .button:hover{
     cursor: pointer;
 }
 
 .notplus{
     flex: 1 1 150px;
     
 }
 
 .plus{
     flex: 1 1 302px;
 }
 
 .general{
    flex:2 1 230px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
 }
 
 .actions{
    flex:1 2 30px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: black;
 }