.screen {
   height : 80pt;
   background-color: black;
   border : solid 4pt red;
   color: red;
   font : 30pt arial;
   text-align: end;
   vertical-align: middle;
   line-height: 100px;
   padding-left: 15pt;
   padding-right: 15pt;
   cursor: default;
 }